
body{
    background-image: linear-gradient(cornflowerblue, yellow, green);
    font-family: 'Press Start 2P', cursive;
    max-width: 500px;
    margin: auto;
    padding: 20px;  
}

h1{
  text-align: center;
  color: rgb(180, 180, 38);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

h2{
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#heading{
  text-decoration: underline crimson;
  color: crimson;
  text-align: center;
}
/*----------*/
.container {
  position: relative;
  width: 100%;
  border: 5px double blue;
  border-radius: 25%;
  margin: 25px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(202, 200, 66);
  border-radius: 25%;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(57, 29, 158);
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}